requests
HTMLParser
beautifulsoup4
lxml
pandas
selenium==4.4.3
webdriver-manager
opencv-python
Pillow
PyAutoGUI
pywin32
pytesseract
anticaptchaofficial
gspread
gspread-dataframe
SQLAlchemy
PyMySQL
undetected-chromedriver==3.1.5.post4
tabula-py
